.projects {
  margin-bottom: 86px;
}

.projects__caption {
  @include section-caption;
  margin: 0 0 47px 0;
}

.projects__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.projects__card {
  flex: calc(100% / 4) 1 1;
  background-color: $card-color;

  &:hover {
    background-color: $card-hover;
    transform: translateY(-10px);
    transition-duration: 0.3s;
  }
}

.projects__img {
  width: 100%;
}

.projects__container {
  padding: 46px 35px 0 44px;
}

.projects__name {
  font-family: Montserrat;
  font-size: 15px;
  text-transform: uppercase;
  color: $very-dark;
  margin-bottom: 17px;
}

.projects__text {
  opacity: 0.5;
  color: $very-dark;
  font-family: Helvetica;
  font-size: 13px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 23.58px;
}

.projects__btn {
  font-family: Montserrat;
  font-size: 10px;
  text-transform: uppercase;
  border: none;
  color: $dark;
  background-color: $projects-btn;
  padding: 16px 26px;
  border-radius: 5px;
  margin-bottom: 47px;

  &:hover {
    color: $white;
    background-color: $purple;
  }
}