.team__caption {
  @include section-caption;
  margin-bottom: 44px;
}

.team__members {
  display: flex;
  flex-flow: row wrap;
}

.team__card {
  display: flex;
  flex: calc(100% / 3) 1 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 93px;
}

.team__photo {
  position: relative;
  z-index: 2;
  &:hover {
    opacity: 0;
  }
}

.team__imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  background: $purple;
  border-radius: 50%;
  z-index: 1;
  height: 173px;
  width: 173px;
}

.team__name {
  display: flex;
  justify-content: center;
  color: $very-dark;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  padding-top: 30px;
  margin-bottom: 15px;
}

.team__position {
  color: $very-dark;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  opacity: 0.4;
}
